* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --text-color: #333;

}
.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid--wide {
  width: 1248px;
  margin: 0 auto;
  max-width: 100%;
}

.grid--row {
  margin-left: -12px;
  margin-right: -12px;
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 12px;
}
.pc-0 {
  display: none;
}
.pc-1 {
  display: block;
  flex: 0 0 8.3333%;
  max-width: 8.3333%;
}
.pc-2 {
  display: block;
  flex: 0 0 16.6667%;
  max-width: 16.6667%;
}
.pc-3 {
  display: block;
  flex: 0 0 25%;
  max-width: 25%;
}
.pc-4 {
  display: block;
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}
.pc-5 {
  display: block;
  flex: 0 0 41.6667%;
  max-width: 41.6667%;
}
.pc-6 {
  display: block;
  flex: 0 0 50%;
  max-width: 50%;
}
.pc-7 {
  display: block;
  flex: 0 0 58.3333%;
  max-width: 58.3333%;
}
.pc-8 {
  display: block;
  flex: 0 0 66.6667%;
  max-width: 66.6667%;
}
.pc-9 {
  display: block;
  flex: 0 0 75%;
  max-width: 75%;
}
.pc-10 {
  display: block;
  flex: 0 0 83.3333%;
  max-width: 25%;
}
.pc-11 {
  display: block;
  flex: 0 0 91.6667%;
  max-width: 25%;
}
.pc-12 {
  display: block;
  flex: 0 0 100%;
  max-width: 100%;
}

.App--separate{
  display: flex;
}

/* Chế độ khung nhìn cho tablet theo chiều ngang */
@media (max-width: 1024px) { 
  .grid--wide {
    width: 780px;
}
.grid--row {
  margin-left: -8px;
  margin-right: -8px;
}

.col {
  padding-left: 8px;
  padding-right: 8px;
}
.md-0 {
  display: none;
}
.md-1 {
  display: block;
  flex: 0 0 8.3333%;
  max-width: 8.3333%;
}
.md-2 {
  display: block;
  flex: 0 0 16.6667%;
  max-width: 16.6667%;
}
.md-3 {
  display: block;
  flex: 0 0 25%;
  max-width: 25%;
}
.md-4 {
  display: block;
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}
.md-5 {
  display: block;
  flex: 0 0 41.6667%;
  max-width: 41.6667%;
}
.md-6 {
  display: block;
  flex: 0 0 50%;
  max-width: 50%;
}
.md-7 {
  display: block;
  flex: 0 0 58.3333%;
  max-width: 58.3333%;
}
.md-8 {
  display: block;
  flex: 0 0 66.6667%;
  max-width: 66.6667%;
}
.md-9 {
  display: block;
  flex: 0 0 75%;
  max-width: 75%;
}
.md-10 {
  display: block;
  flex: 0 0 83.3333%;
  max-width: 25%;
}
.md-11 {
  display: block;
  flex: 0 0 91.6667%;
  max-width: 25%;
}
.md-12 {
  display: block;
  flex: 0 0 100%;
  max-width: 100%;
}

}
/* Chế độ khung nhìn cho mobile theo chiều dọc */
@media (max-width: 640px) { 
.grid--wide {
    width: 500px;
}
.grid--row {
  margin-left: -4px;
  margin-right: -4px;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}
.mb-0 {
  display: none;
}
.mb-1 {
  display: block;
  flex: 0 0 8.3333%;
  max-width: 8.3333%;
}
.mb-2 {
  display: block;
  flex: 0 0 16.6667%;
  max-width: 16.6667%;
}
.mb-3 {
  display: block;
  flex: 0 0 25%;
  max-width: 25%;
}
.mb-4 {
  display: block;
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}
.mb-5 {
  display: block;
  flex: 0 0 41.6667%;
  max-width: 41.6667%;
}
.mb-6 {
  display: block;
  flex: 0 0 50%;
  max-width: 50%;
}
.mb-7 {
  display: block;
  flex: 0 0 58.3333%;
  max-width: 58.3333%;
}
.mb-8 {
  display: block;
  flex: 0 0 66.6667%;
  max-width: 66.6667%;
}
.mb-9 {
  display: block;
  flex: 0 0 75%;
  max-width: 75%;
}
.mb-10 {
  display: block;
  flex: 0 0 83.3333%;
  max-width: 25%;
}
.mb-11 {
  display: block;
  flex: 0 0 91.6667%;
  max-width: 25%;
}
.mb-12 {
  display: block;
  flex: 0 0 100%;
  max-width: 100%;
}
}