.header--root {
    position: relative;
}
.header--logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.header__shadow {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    position: fixed;
    z-index: 100;
}
.header--title {
    flex-grow: 1;
    text-align: center;
}
.header--title__content {
    line-height: 100px;
    letter-spacing: 10px;
    background: -webkit-linear-gradient(red, yellow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.space {
    padding-top: 100px;
}